.wbdv-grid-heading {
    margin-top: 20px;
    margin-bottom: 20px;
}

.wbdv-grid-heading i {
    margin-right: 20px;
    margin-left: 20px;
}

.wbdv-grid-heading {
    background-color: blue;
}

.jeff {
    background-color: green;
    align-items: center;
}

.flex-row {
    margin-top: 15px;
    margin-bottom: 15px;
}

.flex-row i {
    margin-left: 20px;
}